@model VTube.Core.ViewModels.VideoFormViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "Videos"))
{
    <p class="alert alert-info">All fields except description are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(v => v.Id)
    <div class="form-group">
        @Html.LabelFor(v => v.Title)
        @Html.TextBoxFor(v => v.Title, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(v => v.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Description)
        @Html.TextBoxFor(v => v.Description, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(v => v.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Path)
        @Html.TextBoxFor(v => v.Path, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(v => v.Path)
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
